.switch {
  --width: clamp(40px, 8vw, 55px);
  --height: clamp(25px, 5vw, 35px);
  --margin: 2px;

  --color-night: rgba(15, 64, 91, 1);
  --color-day: rgba(91, 169, 211, 1);
  --color-sun: rgba(246, 211, 90, 1);

  --ease: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  --duration: .85s;

  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: 999px;
  background-color: var(--color-day);
  overflow: hidden;
  z-index: 2;
}

.switch:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-night);
  transition: opacity var(--duration) var(--ease);
  opacity: 0;
  z-index: 1;
}

.switch__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: right;
  transform: translate3d(calc(var(--width) - var(--height)), 0, 0);
  transition: transform var(--duration) var(--ease);
  z-index: 2;
}

.is-active .switch__inner {
  transform: translate3d(0, 0, 0);
}

.switch-globe {
  --size: calc(var(--height) - (var(--margin) * 2));
  position: relative;
  height: var(--size);
  width: var(--size);
  margin: var(--margin);
  border-radius: 999px;
  background-color: var(--color-sun);
  transform: rotate(90deg);
  transition: transform var(--duration) var(--ease);
  z-index: 1;
}

.switch-globe__circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  border-radius: 999px;
  background-color: var(--color-day);
  transform: translate3d(50%, 0, 0);
  transition: transform var(--duration) var(--ease), background-color var(--duration) var(--ease);
}

.is-active .switch-globe__circle {
  background-color: var(--color-night);
  transform: translate3d(-10%, 0, 0);
}

.switch-globe__moon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  object-fit: cover;
  transform: scaleX(-1);
  opacity: 0;
  transition: opacity var(--duration) var(--ease);
}

.is-active .switch-globe__moon {
  opacity: 1;
}

.switch__stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: scale(calc(var(--height)/35 * 0.25)); /* scale relative to height */
  transition: transform var(--duration) var(--ease);
  z-index: 2;
}

.is-active .switch__stars {
  transform: scale(calc(var(--height)/35 * 0.9));
}

.switch__cloud {
  position: absolute;
  bottom: 0;
  transition: transform var(--duration) var(--ease);
}

.switch__cloud.--1 {
  left: 0;
  height: calc(var(--height) * 0.65);
}

.is-active .switch__cloud.--1 {
  transform: translate3d(calc(-0.25 * var(--height)), calc(0.15 * var(--height)), 0);
}

.switch__cloud.--2 {
  left: calc(0.25 * var(--height));
  height: calc(var(--height) * 0.50);
}

.is-active .switch__cloud.--2 {
  transform: translate3d(calc(-0.1 * var(--height)), calc(0.2 * var(--height)), 0);
}

.is-active .switch:after {
  opacity: 1;
}

.shadow {
    border-radius: 40%;
}