@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=M+PLUS+Rounded+1c&display=swap');

.bottom-quote {
  position: fixed;
  z-index: 2;
  bottom: 0; 
  left: 0; 
  height: 5vh; 
  width: 100%; 
  background-color: white; 
  border-top: #7e2e70;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem;
  color: #7e2e70;
}