.title-area h2 {
    z-index: 1;
    font-family: Lobster;
    color:#50164A;
    text-align: center;
    font-size: 16vh;
}

.title-area{
    position: relative;
    z-index: 1;
    top:0;
    left:0;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.scroll{
    position: relative;
    z-index: 1;
    align-items: center;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:#50164A;
    font-size: 1em;
}